body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.cat {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 355px;
  width: 392.1px;
  z-index: 10;
}

.ear {
  position: absolute;
  top: -30%;
  height: 60%;
  width: 25%;
  background: rgb(255, 255, 255);
}

.ear::before,
.ear::after {
  content: "";
  position: absolute;
  bottom: 24%;
  height: 10%;
  width: 5%;
  border-radius: 50%;
  background: #161616;
}
.ear::after {
  transform-origin: 50% 100%;
}

.ear--left {
  left: -7%;
  border-radius: 70% 30% 0% 0%/100% 100% 0% 0%;
  transform: rotate(-15deg);
}
.ear--left::before,
.ear--left::after {
  right: 10%;
}
.ear--left::after {
  transform: rotate(-45deg);
}

.ear--right {
  right: -7%;
  border-radius: 30% 70% 0% 0%/100% 100% 0% 0%;
  transform: rotate(15deg);
}
.ear--right::before,
.ear--right::after {
  left: 10%;
}
.ear--right::after {
  transform: rotate(45deg);
}

@keyframes rotateLeftEar {
  0%,
  100% {
    transform: rotate(-18deg) translateY(0) translateX(0);
  }
  50% {
    transform: rotate(-23deg) translateY(4%) translateX(3%);
  }
}

@keyframes rotateRightEar {
  0%,
  100% {
    transform: rotate(18deg) translateY(0) translateX(0);
  }
  50% {
    transform: rotate(23deg) translateY(4%) translateX(3%);
  }
}

.ear--left {
  left: -7%;
  border-radius: 70% 30% 0% 0%/100% 100% 0% 0%;
  transform: rotate(-15deg);
  animation: rotateLeftEar 4s infinite alternate ease-out;
}

.ear--right {
  right: -7%;
  border-radius: 30% 70% 0% 0%/100% 100% 0% 0%;
  transform: rotate(15deg);
  animation: rotateRightEar 4s infinite alternate ease-out;
}

.face {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #161616;
  border-radius: 50%;
}

.eye {
  position: absolute;
  top: 35%;
  height: 30%;
  width: 31%;
  background: rgb(236, 209, 45);
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
}
.eye::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  border-radius: 0 0 50% 50%/0 0 40% 40%;
  background: #161616;
  animation: blink 4s infinite ease-in;
}
@keyframes blink {
  0% {
    height: 0;
  }
  90% {
    height: 0;
  }
  92.5% {
    height: 100%;
  }
  95% {
    height: 0;
  }
  97.5% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
.eye::before {
  content: "";
  position: absolute;
  top: 60%;
  height: 10%;
  width: 15%;
  background: rgb(236, 209, 45);
  border-radius: 50%;
}

.eye--left {
  left: 0;
}
.eye--left::before {
  right: -5%;
}

.eye--right {
  right: 0;
}
.eye--right::before {
  left: -5%;
}

.eye-pupil {
  position: absolute;
  top: 50%;
  height: 50%;
  width: 20%;
  background: #161616;
  border-radius: 50%;
  transform-origin: center;
  transition: transform 0.1s ease-out;
}
.eye-pupil::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-65%);
  transform: translateY(50%);
  width: 2.5%;
  height: 17%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  background: rgba(255, 255, 255);
  border-radius: 90%;
}

.eye--left .eye-pupil {
  right: 30%;
}

.eye--right .eye-pupil {
  left: 30%;
}

.muzzle {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 6%;
  width: 10%;
  background: #fff;
  transform: translateX(-50%);
  border-radius: 50% 50% 50% 50%/30% 30% 70% 70%;
}
.positioned-image {
  width: 330px;
  height: 200px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-text {
  text-align: center;
  color: #fff;
  font-size: 25px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  transform: translateX(-50%);
}
/*
#cursor-light {
  position: absolute;
  width: 800px; 
  height: 800px;
  background: radial-gradient(
    circle,
    rgba(56, 219, 189, 0.2),
    rgba(255, 255, 255, 0) 30%
  ); 
  border-radius: 100%;
  pointer-events: none; 
  transition: transform 2s ease-in-out; 
  transform: translate(-50%, -50%); 
}
*/

/* General page styling */
html {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #161616;
  font-family: "Poppins";
}

.fade-out {
  opacity: 0;
  transition: opacity 2.5s ease-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
}

.fade-out.active {
  opacity: 1;
  pointer-events: all;
}

/*# sourceMappingURL=style.css.map */
