body {
  background: linear-gradient(
      45deg,
      rgba(55, 54, 77, 1) 0%,
      rgba(142, 77, 194, 1) 71%,
      rgba(108, 217, 246, 1) 100%
    ),
    url("static\Images\background.png") repeat 0 0;
  background-size: cover;
  background-blend-mode: multiply;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  font-family: "Tahoma", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eef2f7;
  height: 100vh;
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between; /* Added to separate left and right sections */
  align-items: flex;
  text-align: flex;
  margin: 2rem auto;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25); /* box shadow */
  margin: 20px;
  transition: box-shadow 0.3s;
}

.text-container {
  max-width: 50%; /* width of the left section */
}
button {
  display: block;
  margin: 0 auto;
  width: 140px;
  color: #8a9197;
  font-size: 17px;
  border: 1px solid #efeef5;
  font-weight: 500;
  background: #c4f671;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

h2 {
  color: var(--heading, #1c2f41);
  align-self: stretch;
  font-family: Outfit;
  font-size: 67px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  text-transform: capitalize;
  text-transform: capitalize;
  line-height: 72px;
  word-wrap: break-word;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
  max-width: 50%; /* width of the right section */
}

li {
  font-family: "Roboto", sans-serif;
  background-color: #d3d3d3;
  margin: 10px 0;
  padding: 15px;
  border-radius: 24px;
  background: var(--White, #fff);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  width: 643px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  width: 595px;
  color: #1c2f41;
  font-size: 22px;
  font-family: Outfit;
  font-weight: 600;
  word-wrap: break-word;
}

li:hover {
  transform: scale(1.05);
}

button {
  padding: 10px 20px;
  background-color: #221b1d;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.5em;
  transition: 0.5s ease;
}

button:hover {
  background-color: #f56a9e;
}
